{% extends 'base.html' %}

{% load static %}

{% block title %}Change Password | iqtisodiybilim.uz{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile_update.css' %}">
{% endblock %}

{% block content %}

<section class="profile-edit">

    <h2>Change Password</h2>

    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div>
            <label>Current password</label>
            {{ form.current_password }}
        </div>

        <div>
            <label>New password</label>
            {{ form.new_password }}
        </div>

        <div>
            <label>Repeat new password</label>
            {{ form.repeat_password }}
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn--primary">
                Update password
            </button>

            <a href="{% url 'dashboard' %}" class="btn btn--ghost">
                Cancel
            </a>
        </div>
    </form>

</section>

{% endblock %}
